import React from 'react';
import './dashboard.css';

function Dashboard() {
  return (
    <div className="dashboard-container">
      {/* Menu */}
      <aside>
        <p>HouseHunt</p>
        <a href="javascript:void(0)">
          <i className="fa fa-user-o" aria-hidden="true"></i>
          My properties
        </a>
        <a href="javascript:void(0)">
          <i className="fa fa-user-o" aria-hidden="true"></i>
         Good 
        </a>
        <a href="javascript:void(0)">
          <i className="fa fa-user-o" aria-hidden="true"></i>
          Dashboard
        </a>
        <a href="javascript:void(0)">
          <i className="fa fa-user-o" aria-hidden="true"></i>
          Payments 
        </a>
        <a href="javascript:void(0)">
          <i className="fa fa-user-o" aria-hidden="true"></i>
          Logout
        </a>
        
      </aside>

      {/* Header */}
      <div className="main-content">
        <div className="container">
          <div className="row">
            <div className="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
              <div className="page-header">
                <div className="page-caption">
                  <h1 className="page-title">Hike Pageheader</h1>
                </div>
              </div>
              <div className="card-section">
                <div className="card-block bg-white mb30">
                  <div className="row">
                    <div className="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                      <div className="section-title mb-0">
                        <h2>All about Hike. We share our knowledge on blog</h2>
                        <p>Our approach is very simple: we define your problem and give the best solution. </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div className="row">
                  <div className="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-center">
                    Created for <a href="https://easetemplate.com/downloads/digital-marketing-website-template-hike-bold-design/" target="_blank">easetemplate</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  );
}

export default Dashboard;
